@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import 'libs/shared/ui/theme/src/lib/styles/pimeng';
@import 'libs/shared/ui/theme/src/lib/styles/variables';
@import 'libs/shared/ui/theme/src/lib/styles/_base.scss';

html,
body {
  min-width: 225px;
  background-color: $grey-theme-color;
  background-image: $back-ground-image--diagonal-lines;
  font-family: 'Playfair Display', serif;
}
