@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import 'libs/shared/ui/theme/src/lib/styles/pimeng';
@import 'libs/shared/ui/theme/src/lib/styles/variables';
@import 'libs/shared/ui/theme/src/lib/styles/_base.scss';

html,
body {
  background-color: $grey-theme-color;
  background-image: $back-ground-image--diagonal-lines;
}

body,
.p-component,
.p-dropdown-label,
.p-dropdown-item,
.p-multiselect-label,
.p-multiselect-token-label,
.p-dialog-title,
.p-overlaypanel-title,
.p-listbox-label,
.p-checkbox-label,
.p-radiobutton-label {
  font-family: $font-family--primary !important;
}
